<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dev-Log{% endblock %} | 개인 포트폴리오</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('home.index') }}">홈</a>
        <a href="{{ url_for('projects.list_projects') }}">프로젝트</a>
        <a href="{{ url_for('contact.index') }}">연락처</a>
        <a href="{{ url_for('flasgger.apidocs') }}">API (Swagger)</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
